# Local .terraform directories (Terraform's working directory and downloaded provider plugins)
**/.terraform/*

# .tfstate files (state files should not be tracked by git)
*.tfstate
*.tfstate.*

# Backup of .tfstate files (do not track backups either)
*.tfstate.backup

# Crash log files (Terraform crash logs)
crash.log
crash.*.log

# Exclude all .tfvars files (potentially sensitive data, do not track)
*.tfvars
*.tfvars.json

# Ignore override files (usually local configuration overrides not meant for version control)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore transient lock info files (created by terraform apply to manage concurrent runs)
.terraform.tfstate.lock.info

# Ignore CLI configuration files (user-specific configuration files)
.terraformrc
terraform.rc

# Include override files you do wish to add to version control using negated pattern
# Example:
# !example_override.tf

# Optionally, you can add the terraform.lock.hcl to version control if using consistent provider versions
# !terraform.lock.hcl

# Ignore Terraform lock files
*.lock.hcl

*.env

node_modules/
