footer {
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 0.7em 0;
    text-align: center;
    font-size: 1em;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 0.1em solid var(--cyan);
}

footer p {
    margin: 0.5em 0;
    line-height: 1.4;
}

footer a {
    color: var(--cyan);
    text-decoration: none;
    font-weight: 500;
    padding: 0 0.5em;
    transition: color 0.3s ease;
}

footer a:hover {
    color: var(--grey);
}

footer p:first-child {
    font-size: 0.9em;
    color: var(--grey);
}