<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
</head>

<body>
    <h1>WhatTheDuck Refactor History</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Timestamp</th>
                <th>Original Code</th>
                <th>Refactored Code</th>
                <th>Filters</th>
                <th>Selected Code</th>
                <th>Accepted Changes</th>
                <th>Error</th>
            </tr>
        </thead>
        <tbody>
            {{history}}
        </tbody>
    </table>
</body>

</html>