<!DOCTYPE html>
<html lang="en">
<head>
    <title>SARA Menu</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{styleUri}}/menu.css">
    <script src="{{scriptUri}}/menu.js" defer></script>
</head>
<body>
    <img src="{{imageUri}}/sara.png" alt="SARA logo">
    <div class="wrapper">
        <div class="options-wrapper">
            <div class="option-wrapper">
                <div class="info-label-wrapper">
                    <div class="tooltip"> &#9432;
                        <div class="tooltiptext">
                            <p>Selects which repository will be analyzed.</p>
                            <ul>
                                <li>
                                    <p><b>Local</b> will analyze the local files.</p>
                                </li>
                                <li>
                                    <p><b>Remote</b> will analyze the remote (GitHub) repository.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <label for="location">Location:</label>
                </div>
                <div>
                    <select name="location" id="location">
                        <option value="local" selected>Local</option>
                        <option value="remote">Remote</option>
                    </select>
                </div>
            </div>
            <div class="option-wrapper">
                <div class="info-label-wrapper">
                    <div class="tooltip"> &#9432;
                        <div class="tooltiptext">
                            <p>Selects which LLM will analyze the files.</p>
                        </div>
                    </div>
                    <label for="llm">LLM:</label>
                </div>
                <div>
                    <select name="llm" id="llm">
                        <option value="gemini" selected>Gemini</option>
                        <div id="substitute-with-options"></div>
                    </select>
                </div>
            </div>
        </div>
        <button id="submit" type="submit">Submit</button>
    </div>
</body>
</html>