[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
django = "==5.1.3"
requests = "*"
aiohttp = "*"
uvicorn = "*"
django-debug-toolbar = "*"
dj-rest-auth = "*"
django-oauth2-provider = "*"
oauth2-provider = "*"
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.12"
