<!DOCTYPE html>
<html lang="en">
<head>
    <title>SARA Menu</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{styleUri}}">
    <script src="{{scriptUri}}" defer></script>
</head>
<body>
    <h1>SARA</h1>
    <div class="options-wrapper">
        <div>
            <label for="location">Location:</label>
            <select name="location" id="location">
                <option value="local" selected="selected">Local</option>
                <option value="remote">Remote</option>
            </select>
        </div>
    </div>

    <button id="submit">Submit</button>
</body>
</html>