@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Metrophobic&display=swap');

:root {
    --blue: #215A75;
    --dark-blue: #283C4C;
    --cyan: #307484;
    --grey: #DFE3E7;
    --white: #EEEEEE;
    --red: #8B0000;

}

body, html {
     background-color: var(--white);
     line-height: 1.6;
     width: 100%; 
     min-height: 100vh;
     font-family: "Jockey One", serif;
     font-weight: 400;
     margin-top: 2.5em; 
     padding: 0; 
     box-sizing: border-box; 
     overflow: hidden;
}
 

* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     font-family: "Jockey One", sans-serif;
}