.container {
     max-width: 25em; 
     margin: 0 auto;
     padding: 1.25em;
     border-radius: 0.5em;
     background-color: var(--grey);
     box-shadow: 0 0.25em 0.375em rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
.container {
     max-width: 30em; 
}
}

@media (min-width: 1024px) {
.container {
     max-width: 35em; 
}
}

.title {
     font-size: 2.0em; 
     font-weight: bold;
     text-align: center;
     margin: 0 1.5em;
     color: var(--dark-blue);
}

.errorMessage {
     color: #d9534f;
     background-color: #f8d7da;
     padding: 0.625em; 
     border-radius: 0.25em; 
     margin-bottom: 1.25em;
     text-align: center;
}

.loadingMessage {
     font-size: 1.2em; 
     color: var(--dark-grey);
     text-align: center;
     margin-top: 1em;
}

.sectionTitle {
     font-size: 1.5em; 
     font-weight: bold;
     margin-bottom: 1em;
     color: var(--dark-blue);
     text-align: center;
}

.infoList {
     list-style-type: none;
     padding: 0;
     margin: 0;
}

.infoItem {
     padding: 0.8em; 
     background-color: var(--light-grey);
     border: 0.065em solid #ccc; 
     border-radius: 0.25em; 
     margin-bottom: 0.8em;
     font-size: 1em;
     color: var(--dark-blue);
}

.linkButton {
     text-decoration: none;
     color: var(--white);
     background-color: var(--blue);
     padding: 0.6em 1em;
     border-radius: 0.25em;
     font-size: 1em;
     font-weight: bold;
     display: inline-block;
     text-align: center;
     cursor: pointer;
}

.linkButton:hover {
     background-color: var(--cyan);
     transition-duration: 0.3s;
     text-decoration: none;
}


.button {
     padding: 0.5em 1em;
     border: none;
     border-radius: 0.25em;
     font-size: 1em;
     cursor: pointer;
}

.unlinkButton {
     background-color: #d9534f;
     color: var(--white);
}

.unlinkButton:hover {
     background-color: #c9302c;
     transition-duration: 0.3s;
}

.saveButton {
     background-color: var(--blue);
     color: var(--white);
}

.saveButton:hover {
     background-color: var(--cyan);
     transition-duration: 0.3s;
}


.githubLink {
     text-decoration: none;
     color: var(--cyan);
     font-weight: bold;
}

.githubLink:hover {
     color: var(--blue);
     transition-duration: 0.3s;
}

.tokenAssociated {
     font-size: 1em;
     color: var(--dark-blue);
     font-weight: bold;
}

.tokenForm {
margin-top: 1em;
}

.form {
     display: flex;
     flex-direction: column;
     gap: 0.8em;
}

.input {
     padding: 0.65em; 
     border: 0.065em solid #ccc; 
     border-radius: 0.25em; 
     font-size: 1em;
}