{% extends "base.html" %}

{% block title %}
    {{ project.name }}
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>{{ project.project_name }}</h1>
    <p><strong>Description:</strong> {{ project.description|default:"No description available." }}</p>
    
    <div class="mt-3">
        <p><strong>Created At:</strong> {{ project.created_at|date:"Y-m-d H:i" }}</p>
        <p><strong>GitHub Link:</strong>
            <a href="{{ project.github_project_link }}" target="_blank">{{ project.github_project_link }}</a>
        </p>
        {% if project.miro_board_id %}
        <p><strong>Miro Board:</strong>
            <a href="{{ project.miro_board_id }}" target="_blank">{{ project.miro_board_id }}</a>
        </p>
        {% endif %}
    </div>

    <h2 class="mt-4">Members</h2>
    <ul>
        {% for member in project.members.all %}
        <li> <a href="{% url 'profile' username=member.user %}">{{ member.user }}</a> </li>
        {% endfor %}
    </ul>

    <div class="container mt-4">
        <h2>Add Member</h2>
        <form method="post" action="{% url 'add_member_to_spark_project' project.id %}">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Enter username" class="form-control mb-2" required>
            <button type="submit" class="btn btn-primary">Add Member</button>
        </form>
    </div>

    <div class="mt-4">
        <a href="{% url 'home' %}" class="btn btn-secondary">Back to Home</a>

        <!-- Delete Project Button -->
        <form action="{% url 'delete_spark_project' project.id %}" method="post" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete Project</button>
        </form>
    </div>
</div>
{% endblock %}
