.env/
.DS_Store
/data/
chroma.log
/IDEA/
static/
# .envs/*
# .vscode/*
# !.vscode/settings.json
# !.vscode/tasks.json
# !.vscode/launch.json
# !.vscode/extensions.json
# *.code-workspace
# __pycache__/
# *.py[cod]
# *$py.class