div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.5rem;
}

button{
    color: white;
    background-color: transparent;
    border: white;
}

button:hover{
    text-decoration: underline;
}